@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* general */


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Cormorant Infant", serif;
  background-color: #000103;
  color: white;
}

h1 {
  color: orange;
  font-size: 3.5rem;
}

h2 {
  color: orange;
  font-size: 2.5rem;
}

button {
    font-family: "Open Sans", sans-serif;;
  font-size: medium;
  background-color: #000103;
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid orange;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

a{
  text-decoration: none;
}

.main-menu li{
  list-style: none;
}

button:hover {
  background-color: orange;
  color: #000103;
}

.main-menu{
  display: flex;
  padding: 0.5rem 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #000103;
  align-items: center;
}

/* header */

.menu-links {
  display: flex;
  align-self: right;
  gap: 1.5rem;
  list-style: none;
}

.menu-links a {
  font-size: large;
  text-decoration: none;
  color: white;
}

.menu-links a:hover {
  color: orange;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.logo-image {
  width: auto;
  height:50px;
  cursor: default;
}

/* hamburger header */

#hamburger-nav{
  display: none;
}

.mobile-links {
  position: absolute;
  right: 0%;
  top: 100%;
  margin: 1rem;
  width: max-content;
  max-height: 0;
  background-color: #000103;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  border-radius: 0 0 0.5rem 0.5rem;
}

.mobile-links a {
  display: block;
  padding: 1rem;
  font-size: large;
  text-decoration: none;
  color: white;
  transition: all 300ms ease-in-out;
}
.mobile-links a:hover {
  transition: all 300ms ease-in-out;
  color: orange;
  background-color: rgb(155, 0, 0);
}

.hamburger-menu{
  position: relative;
  display: inline-block;
}

.hamburger-icon{
  gap: 2px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 20px;
  width: 40px;
  justify-content: space-between;
}

.hamburger-icon span{
  width: 100%;
  height: 2px;
  transition: all 300ms ease-in-out;
  background-color: rgb(255, 255, 255);
}

.hamburger-icon.open span:first-child{
  transform: rotate(45deg) translate(9px, 6px);
}
.hamburger-icon.open span:nth-child(2){
  opacity: 0;
}
.hamburger-icon.open span:last-child{
  transform: rotate(-45deg) translate(9px, -6px);
}

.mobile-links.open{
  max-height: 300px;
}

/* hero section */

#hero {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  background-image: url(./assets/grill.jpg);
  background-position: 2px;
}

.hero-container {
  display: flex;
}

.hero-text {
  margin-left: 5rem;
  font-size: 1.5rem;
  max-width: 500px;
}

.hero-btn {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}


/* menu-order section */
.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color:#000103;
  margin: 1rem;
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
  height: fit-content;
  width: 200px;
  transition: all 300ms ease-in-out;
}

.menu-item:hover {
  background-color: rgb(155, 0, 0);
  transform: scale(105%, 105%);
  opacity: 1;
}

.menu-item img:hover {
    transform-style: preserve-3d;
    transform: scale(130%,130%);
    cursor:pointer;
}

.menu-item img {
  max-width: auto;
  height: 5rem;
  transition: all 300ms ease-in-out;
}

.order-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: #000103ec; */
  
  background-blend-mode: luminosity;
  align-items: center;
}

.order-container h2 {
  margin-top: 3rem;
}

#menu-section{
    /* background-image: url(./assets/food-plates.jpg); */
    background-position: center;
    background-color: orange;
    background-size: cover;
    padding-bottom: 2rem;
}

#menu-section h2{
  color: #000103;
}

.sub-heading{
  color: rgb(155, 0, 0);
}

.top-bar{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.top-bar p{
  font-size: larger;
  font-weight: bolder;
}

/* story section */

#story{
    display: flex;
    height: 100vh;
    align-items: center;
}

.story-container{
    display: flex;
    align-items: center;
  font-size: 1.5rem;
}

.story-image{
    height: 75vh;
    border-radius: 0 2rem 2rem 0;
}

.story-text{
    margin: 3rem;
}

.est{
    font-size: small;
}